body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333333;
}

label {
    display: grid;
    grid-template-columns: 4em 9em;
    margin-block-end: .25em;
}

label div {
    justify-self: right;
    white-space: nowrap;
}

input {
    max-width: 7em;
}

input:invalid {
    background-color: pink;
    outline: 2px solid red;
    border-radius: 5px;
}